doctype html
html(lang="en")
  head
    title= title
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")

  body
    .container
      h1 Welcome to Express and Pug Example

      div 
        a(href="/users") Users list
      div
        a(href="/articles") Articles list