<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Articles</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>

    <div class="container">

        <h1>List of articles</h1>

        <ul>
            <% articles.forEach(function(article) { %>
                <li>
                    <a href="/articles/<%= article.id %>">
                        <h4>
                            <%= article.title %>
                        </h4>
                    </a>
                </li>
            <% }) %>
        </ul>

        <a href="/">Back to main page</a>

    </div>

</body>

</html>